<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
</head>
<body>
<h1>User Profile</h1>

<table>
    <thead class="table-head">
    <tr>
        <td>First Name</td>
        <td> </td>
    </tr>

    <tr>
        <td>Last Name</td>
        <td> </td>
    </tr>

    <tr>
        <td>Date of Birth</td>
        <td> </td>
    </tr>

    <tr>
        <td>Email</td>
        <td> </td>
    </tr>

    <tr>
        <td>Password</td>
        <td> </td>
    </tr>
    </thead>
</table>

<button type="edit">Edit!</button>


</body>
</html>