* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    margin: 5%;
    justify-content: center;
    display: flex;
}

label {
    margin: 5px;
    display: inline-block;
    min-width: 200px;
}

input {
    margin: 5px;
    width: 200px;
}

.form-control {
    width: auto;
}

input[type=submit] {
    background-color: cornflowerblue;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    width: 100px;
    border-radius: 5px;
}

#profileForm {
    margin: auto;
    width: 30%;
}

#profileForm {
    margin: auto;
    width: 30%;
}

#cancel {
    background-color: indianred;
    border: none;
    color: white;
    padding: 5px 2px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 550px;
    overflow: hidden;
    background-color: rgba(50, 100, 100, 0.3);
    border-radius: 10px;
    padding: 15px;
}

a {
    text-decoration: none;
    color: blue;
}

p {
    color: red;
    font-size: 14px;
}

nav {
    width: 100%;
    overflow: hidden;
    background-color: rgba(50, 100, 100, 0.3);
    padding: 15px;
    display: flex;
    justify-content: center;
}
nav form {
    all: revert;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: block;
}