<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Register</h1>

<div>
    <div>
        <form th:action="@{register}" method="post">
            <label for="firstName"> First Name: </label>
            <input type="text" class="form-control" id="firstName" placeholder="First Name"
                   th:name="firstName" th:value="*{firstName}" data-cy="firstName" required autofocus>
            <br/>
            <label for="lastName"> Last Name: </label>
            <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                   th:name="lastName" th:value="*{lastName}" data-cy="lastName">
            <input type="checkbox" class="form-control" id="lastNameCheck" name="lastNameCheck" />
            <label for="lastNameCheck">I have no surname</label>
            <script>
                document.getElementById('lastNameCheck').checked = false;
                document.getElementById('lastNameCheck').onchange = function() {
                    document.getElementById('lastName').disabled = this.checked;
                };
            </script>
            <br/>
            <label for="DoB"> Email: </label>
            <input type="date" class="form-control" id="DoB"
                   th:name="DoB" th:value="*{DoB}" data-cy="DoB">
            <br/>
            <label for="email"> Email: </label>
            <input type="text" class="form-control" id="email" placeholder="Email"
                   th:name="email" th:value="*{email}" data-cy="email">
            <br/>
            <label for="password"> Password: </label>
            <input type="password" class="form-control" id="password" placeholder="Password"
                   th:name="password" th:value="*{password}" data-cy="password">
            <br/>
            <button type="submit">Register!</button>
            <a th:href="@{login}">Log In!</a>
        </form>
    </div>
</div>
</body>
</html>