<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{css/styles.css}">

</head>
<body>
<h1>User Profile</h1>

<form id="profileForm" action="/userProfile" method="get">
    <table>
        <thead class="table-head">
        <tr>
            <td>First Name</td>
            <td>
                <span id="firstNameSpan" th:text="${firstName}"></span>
            </td>
        </tr>

        <tr>
            <td>Last Name</td>
            <td>
                <span id="lastNameSpan" th:text="${lastName}"></span>
            </td>
        </tr>

        <tr>
            <td>Date of Birth</td>
            <td>
                <span id="dobSpan" th:text="${DoB}"></span>
            </td>
        </tr>

        <tr>
            <td>Email</td>
            <td>
                <span id="emailSpan" th:text="${email}"></span>
            </td>
        </tr>
        </thead>
    </table>

    <div id="editButtonDiv">
        <button type="button">Edit</button>
    </div>
</form>


</body>
</html>