<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{~/css/styles.css}">
</head>
<body>
<nav th:insert="~{fragmentExample/fragments/nav.html}"></nav>
<h1>User Profile</h1>
<div>

    <form id="profileForm" action="/user" method="post">

        <label for="firstName"> First Name: </label>
        <span id="firstName" th:text="${firstName}"></span>
        <br/>
        <label for="lastName"> Last Name: </label>
        <span id="lastName" th:text="${lastName}"></span>
        <br/>
        <label for="DoB"> Date of Birth: </label>
        <span id="dob" th:text="${DoB}"></span>
        <br/>
        <label for="email"> Email: </label>
        <span id="email" th:text="${email}"></span>
        <br/>
        <button type="submit" window.location.href='/editProfile'> Edit </button>
        <button type="reset" id="cancel" onclick="window.location='./editProfile'">Cancel</button>

    </form>
</div>
</body>
</html>